@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

.bg{
  background-color: #03B664;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

.side-crop { 
    max-height: 400px; 
    overflow: none;
    margin-bottom: 0px;
}

.side-crop img{
    width: 800px;
    height : auto;
    left: 320px;
    top: 353px;
    filter: drop-shadow(4px 4px 9px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
    margin-top:40px;
    bottom: 0px;
}

h1{
    width: 787px;
    height: 75px;
    left: calc(50% - 787px/2 - 0.5px);
    top: 51px;
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
}

p{
    width: 682px;
    height: 62px;
    font-size: 20px;
    line-height: 140.62%;
    text-align: center;

}