.available-meals {
  height: 820px;
  background-color: #03b664;
}

.cardSize {
  width: 17rem;
  height: 60vh;
}

.meals-title {
  color: aliceblue;
  padding-top: 20px;
  padding-bottom: 20px;
}

.meals-quote {
  color: aliceblue;
  font-size: large;
  padding-bottom: 50px;
}

.buttonGreen {
  background-color: #03b664;
  color: rgb(255, 255, 255);
}
.buttonGray {
  background-color: #e5e5e5;
  color: #000;
}
.button {
  /* background-color: #ffb701; */
  height: 50px;
  width: 100%;
  border: 0;
  border: none;
}

.button:hover {
  color: #fff;
  background-color: #ffb701;
  border-color: #0062cc;
  text-decoration: none !important;
}
.card *:hover {
  text-decoration: none !important;
}
.image-section {
  overflow: hidden;
}

.card-img {
  width: 270px;
  height: 50vh;
  object-fit: cover;
}

.card img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.card:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.card-text {
  color: gray;
}

.carousel-indicators {
  display: none;
}

.available-meals-page {
  background-color: #f2f2f2;
  height: auto;
  width: 100%;
}

.available-meals-title {
  padding-top: 80px;
  padding-bottom: 20px;
  font-family: 'Roboto', sans-serif;
}

.available-meals-subtitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 550;
}

.meals-grid {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  justify-content: center;
  gap: 2rem;
  padding: 80px 50px;
}

.meal-in-form {
  background-color: #f2f2f2;
  padding: 40px;
  margin-left: 40%;
  height: 100vh;
}

.meal-form-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin: 40px;
}

.text {
  font-size: large;
}

@media only screen and (max-width: 1200px) {
  .meals-grid {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    margin-top: 80px;
    justify-content: center;
  }
}

@media only screen and (max-width: 910px) {
  .meals-grid {
    display: grid;
    grid-template-columns: 300px 300px;
    margin-top: 80px;
    justify-content: center;
  }
}

@media only screen and (max-width: 590px) {
  .meals-grid {
    display: grid;
    grid-template-columns: 300px;
    margin-top: 80px;
    justify-content: center;
  }
}

.rec.rec-arrow {
  background-color: #f2f2f2;
  color: #03b664;
  text-align: center;
}

.rec.rec-dot {
  margin-top: 30px;
  border-color: #f2f2f2;
  box-shadow: 0 0 1px 2px #f2f2f2;
}

.rec.rec-dot_active {
  background-color: #f2f2f2 !important;
  box-shadow: 0 0 1px 3px #f2f2f2 !important;
}

.rec.rec-dot:hover {
  border-color: #f2f2f2 !important;
  box-shadow: 0 0 1px 3px #f2f2f2 !important;
}

.rec.rec-arrow:hover {
  background-color: #ffb701 !important;
  color: #f2f2f2 !important;
}

.rec.rec-arrow:disabled {
  background-color: #a8a6a6;
  color: #b9b9b9;
}

.bSWeAW:hover:enabled,
.bSWeAW:focus:enabled {
  background-color: #ffb701 !important;
  color: #f2f2f2 !important;
}

.iubhXh:hover:enabled,
.iubhXh:focus:enabled {
  background-color: #ffb701 !important;
  color: #f2f2f2 !important;
}
