.partners-sections {
  width: 80%;
  height: 266px;
  margin: 0 auto;
}

.partner-image {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  justify-content: center;
  margin: 8px auto;
}

.partners-title {
  font-family: 'Roboto', sans-serif;
  font-size: large;
  padding: 30px;
  text-align: center;
}

@media only screen and (max-width: 480px) {
  .partner-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: center;
    margin: 8px auto;
  }
}
