.partners-sections {
    width: 1440px;
    height: 266px;
}



.partner-image {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.partners-title {
    font-family: 'Roboto', sans-serif;
    font-size: large;
    padding: 30px;
}

.partners-grid {
    display: grid;
    grid-template-columns: 120px 120px 120px 120px 120px 120px;
    justify-content: center;
}

@media only screen and (max-width: 682px){
    .partners-grid {
        display: grid;
    grid-template-columns: 120px 120px 120px 120px 120px;
    justify-content: center;
    }
}

@media only screen and (max-width: 592px){
    .partners-grid {
        display: grid;
    grid-template-columns: 120px 120px 120px 120px;
    justify-content: center;
    }
}

@media only screen and (max-width: 480px){
    .partners-grid {
        display: grid;
    grid-template-columns: 120px 120px 120px;
    justify-content: center;
    }
}